@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2196f3;
}

p{
    font-size: 16px;
    text-align: right;
}

section{
    width: 50%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.container{
    width: 100%;
    background-color: #ddd;
    border-radius: 6px;
    text-align: right;
    overflow: hidden;
}

.skills{
    padding: 10px 0;
    padding-right: 20px;
    color: white;
}

.html{
    width: 20%;
    background-color: aqua;
    animation: animation1 .60s ease-in-out forwards;
}
.css{
    width: 20%;
    background-color: rgb(39, 170, 28);
    animation: animation2 .60s ease-in-out forwards;
}
.JavaScrip{
    width: 20%;
    background-color: rgb(251, 255, 0);
    animation: animation3 .60s ease-in-out forwards;
}
.PHP{
    width: 20%;
    background-color: rgb(4, 0, 255);
    animation: animation4 .60s ease-in-out forwards;
}

@keyframes animation1{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 20%;
    }
}

@keyframes animation2{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 14%;
    }
}

@keyframes animation3{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 70%;
    }
}
@keyframes animation4{
    0%{
        width: 0;
        margin-left: -50px;
    }
    100%{
        width: 60%;
    }
}